In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\hmyrg\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\hmyrg\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\hmyrg\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\hmyrg\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hmyrg\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hmyrg\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hmyrg\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\hmyrg\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
!kaggle datasets download -d hmyrg/https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?resource=download

Invalid dataset specification hmyrg/https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?resource=download

In [3]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Dataset URL: https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata
License(s): other
tmdb-movie-metadata.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'cleaned_movies_dataset.csv', 'dataset', 'tmdb-movie-metadata', 'tmdb-movie-metadata.zip', 'Untitled.ipynb', '~']

In [5]:
import zipfile

# Dosyayı çıkartın
with zipfile.ZipFile("tmdb-movie-metadata.zip", 'r') as zip_ref:
    zip_ref.extractall("tmdb-movie-metadata")  # Dosyaları "tmdb-movie-metadata" klasörüne çıkartıyoruz

# Çıkarttığınız dosyaların bulunduğu klasörü kontrol edin
import os
print(os.listdir("tmdb-movie-metadata"))  # Çıkartılan dosyaların listelenmesi

['tmdb_5000_credits.csv', 'tmdb_5000_movies.csv']

In [6]:
import pandas as pd

# CSV dosyasının adını doğru olarak kullanın
data = pd.read_csv("tmdb-movie-metadata/tmdb_5000_movies.csv")  # Dosya adını kontrol edin
print(data.head())  # İlk birkaç satırı göster

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

In [7]:
import pandas as pd
import numpy as np
data=data.drop("tagline", axis=1)
data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,John Carter,6.1,2124

In [19]:
import json
data['genres'] = data['genres'].apply(json.loads)
data['tür'] = data['genres'].apply(lambda x: [d['name'] for d in x])

print(data)

         budget                                             genres  \
0     237000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1     300000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2     245000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3     250000000  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4     260000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
...         ...                                                ...
4798     220000  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799       9000  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800          0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801          0                                                 []
4802          0                [{'id': 99, 'name': 'Documentary'}]

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...                en
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4     [{"id": 818, "name": "based on novel"}, {"id":...                en
...                                                 ...               ...
4798  [{"id": 5616, "name": "united states\u2013mexi...                es
4799                                                 []                en
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
4     John Carter is a war-weary, former military ca...   43.926995
...                                                 ...         ...
4798  El Mariachi just wants to play his guitar and ...   14.269792
4799  A newlywed couple's honeymoon is upended by th...    0.642552
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  \
0     [{"name": "Ingenious Film Partners", "id": 289...
1     [{"name": "Walt Disney Pictures", "id": 2}, {"...
2     [{"name": "Columbia Pictures", "id": 5}, {"nam...
3     [{"name": "Legendary Pictures", "id": 923}, {"...
4           [{"name": "Walt Disney Pictures", "id": 2}]
...                                                 ...
4798           [{"name": "Columbia Pictures", "id": 5}]
4799                                                 []
4800  [{"name": "Front Street Pictures", "id": 3958}...
4801                                                 []
4802  [{"name": "rusty bear entertainment", "id": 87...

                                   production_countries release_date  \
0     [{"iso_3166_1": "US", "name": "United States o...   2009-12-10
1     [{"iso_3166_1": "US", "name": "United States o...   2007-05-19
2     [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26
3     [{"iso_3166_1": "US", "name": "United States o...   2012-07-16
4     [{"iso_3166_1": "US", "name": "United States o...   2012-03-07
...                                                 ...          ...
4798  [{"iso_3166_1": "MX", "name": "Mexico"}, {"iso...   1992-09-04
4799                                                 []   2011-12-26
4800  [{"iso_3166_1": "US", "name": "United States o...   2013-10-13
4801  [{"iso_3166_1": "US", "name": "United States o...   2012-05-03
4802  [{"iso_3166_1": "US", "name": "United States o...   2005-08-05

         revenue  runtime                                   spoken_languages  \
0     2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1      961000000    169.0           [{"iso_639_1": "en", "name": "English"}]
2      880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3     1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]
4      284139100    132.0           [{"iso_639_1": "en", "name": "English"}]
...          ...      ...                                                ...
4798     2040920     81.0      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]
4799           0     85.0                                                 []
4800           0    120.0           [{"iso_639_1": "en", "name": "English"}]
4801           0     98.0           [{"iso_639_1": "en", "name": "English"}]
4802           0     90.0           [{"iso_639_1": "en", "name": "English"}]

        status                                     title  vote_average  \
0     Released                                    Avatar           7.2
1     Released  Pirates of the Caribbean: At World's End           6.9
2     Released                                   Spectre           6.3
3     Released                     The Dark Knight Rises           7.6
4     Released                               John Carter           6.1
...        ...                                       ...           ...
4798  Released                               El Mariachi           6.6
4799  Released                                 Newlyweds           5.9
4800  Released                 Signed, Sealed, Delivered           7.0
4801  Released                          Shanghai Calling           5.7
4802  Released                         My Date with Drew           6.3

      vote_count                                            tür
0          11800  [Action, Adventure, Fantasy, Science Fiction]
1           4500                   [Adventure, Fantasy, Action]
2           4466                     [Action, Adventure, Crime]
3           9106               [Action, Crime, Drama, Thriller]
4           2124           [Action, Adventure, Science Fiction]
...          ...                                            ...
4798         238                      [Action, Crime, Thriller]
4799           5                              [Comedy, Romance]
4800           6             [Comedy, Drama, Romance, TV Movie]
4801           7                                             []
4802          16                                  [Documentary]

[4803 rows x 20 columns]

In [21]:
print(data["tür"])

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: tür, Length: 4803, dtype: object

In [23]:
data=data.drop(["homepage","budget","original_language","original_title","overview",	"popularity","production_companies","production_countries"],axis=1)

In [25]:
data

,genres,id,keywords,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,tür
0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Avatar,7.2,11800,"[Action, Adventure, Fantasy, Science Fiction]"
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pirates of the Caribbean: At World's End,6.9,4500,"[Adventure, Fantasy, Action]"
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,Spectre,6.3,4466,"[Action, Adventure, Crime]"
3,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Dark Knight Rises,7.6,9106,"[Action, Crime, Drama, Thriller]"
4,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,John Carter,6.1,2124,"[Action, Adventure, Science Fiction]"
...,...,...,...,...,...,...,...,...,...,...,...,...
4798,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,El Mariachi,6.6,238,"[Action, Crime, Thriller]"
4799,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",72766,[],2011-12-26,0,85.0,[],Released,Newlyweds,5.9,5,"[Comedy, Romance]"
4800,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Signed, Sealed, Delivered",7.0,6,"[Comedy, Drama, Romance, TV Movie]"
4801,[],126186,[],2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Shanghai Calling,5.7,7,[]
4802,"[{'id': 99, 'name': 'Documentary'}]",25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,My Date with Drew,6.3,16,[Documentary]

In [27]:
data=data.drop(["genres","id","keywords","revenue","spoken_languages","status"],axis=1)

In [29]:
data.head()

,release_date,runtime,title,vote_average,vote_count,tür
0,2009-12-10,162.0,Avatar,7.2,11800,"[Action, Adventure, Fantasy, Science Fiction]"
1,2007-05-19,169.0,Pirates of the Caribbean: At World's End,6.9,4500,"[Adventure, Fantasy, Action]"
2,2015-10-26,148.0,Spectre,6.3,4466,"[Action, Adventure, Crime]"
3,2012-07-16,165.0,The Dark Knight Rises,7.6,9106,"[Action, Crime, Drama, Thriller]"
4,2012-03-07,132.0,John Carter,6.1,2124,"[Action, Adventure, Science Fiction]"

In [31]:
benzersiz_tür=set(genre for sublist in data["tür"]for genre in sublist)
benzersiz_tür=list(benzersiz_tür)
print("benzersiz türler:")
print(benzersiz_tür)

benzersiz türler:
['Romance', 'Drama', 'Comedy', 'Family', 'Music', 'Crime', 'Animation', 'TV Movie', 'History', 'Action', 'Thriller', 'Western', 'Science Fiction', 'Mystery', 'Documentary', 'Fantasy', 'Adventure', 'War', 'Foreign', 'Horror']

In [33]:
benzersiz_tür_indexi={genre : idx for idx, genre in enumerate(benzersiz_tür)}
print("Türlere karşılık kodlar:")
print(benzersiz_tür_indexi)

Türlere karşılık kodlar:
{'Romance': 0, 'Drama': 1, 'Comedy': 2, 'Family': 3, 'Music': 4, 'Crime': 5, 'Animation': 6, 'TV Movie': 7, 'History': 8, 'Action': 9, 'Thriller': 10, 'Western': 11, 'Science Fiction': 12, 'Mystery': 13, 'Documentary': 14, 'Fantasy': 15, 'Adventure': 16, 'War': 17, 'Foreign': 18, 'Horror': 19}

In [35]:
kodlanmis_türler = data["tür"].apply(lambda genres: [benzersiz_tür_indexi[genre] for genre in genres])
data["kodlanmis_tür"]=kodlanmis_türler
print(data)

     release_date  runtime                                     title  \
0      2009-12-10    162.0                                    Avatar
1      2007-05-19    169.0  Pirates of the Caribbean: At World's End
2      2015-10-26    148.0                                   Spectre
3      2012-07-16    165.0                     The Dark Knight Rises
4      2012-03-07    132.0                               John Carter
...           ...      ...                                       ...
4798   1992-09-04     81.0                               El Mariachi
4799   2011-12-26     85.0                                 Newlyweds
4800   2013-10-13    120.0                 Signed, Sealed, Delivered
4801   2012-05-03     98.0                          Shanghai Calling
4802   2005-08-05     90.0                         My Date with Drew

      vote_average  vote_count                                            tür  \
0              7.2       11800  [Action, Adventure, Fantasy, Science Fiction]
1              6.9        4500                   [Adventure, Fantasy, Action]
2              6.3        4466                     [Action, Adventure, Crime]
3              7.6        9106               [Action, Crime, Drama, Thriller]
4              6.1        2124           [Action, Adventure, Science Fiction]
...            ...         ...                                            ...
4798           6.6         238                      [Action, Crime, Thriller]
4799           5.9           5                              [Comedy, Romance]
4800           7.0           6             [Comedy, Drama, Romance, TV Movie]
4801           5.7           7                                             []
4802           6.3          16                                  [Documentary]

        kodlanmis_tür
0     [9, 16, 15, 12]
1         [16, 15, 9]
2          [9, 16, 5]
3       [9, 5, 1, 10]
4         [9, 16, 12]
...               ...
4798       [9, 5, 10]
4799           [2, 0]
4800     [2, 1, 0, 7]
4801               []
4802             [14]

[4803 rows x 7 columns]

In [37]:
data=data.drop(["release_date","runtime"],axis=1)

In [39]:
data.head()

,title,vote_average,vote_count,tür,kodlanmis_tür
0,Avatar,7.2,11800,"[Action, Adventure, Fantasy, Science Fiction]","[9, 16, 15, 12]"
1,Pirates of the Caribbean: At World's End,6.9,4500,"[Adventure, Fantasy, Action]","[16, 15, 9]"
2,Spectre,6.3,4466,"[Action, Adventure, Crime]","[9, 16, 5]"
3,The Dark Knight Rises,7.6,9106,"[Action, Crime, Drama, Thriller]","[9, 5, 1, 10]"
4,John Carter,6.1,2124,"[Action, Adventure, Science Fiction]","[9, 16, 12]"

In [41]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

# Örnek: Büyük veri setini temsil eden DataFrame
# title, vote_average, vote_count ve kodlanmis_tür sütunlarına sahip
# 'df' adında bir DataFrame olduğunu varsayıyoruz

# Kodlanmış türler sütununda One-Hot Encoding uygulama
mlb = MultiLabelBinarizer()
one_hot_encoded = mlb.fit_transform(data['kodlanmis_tür'])

# Tür kodlarına dayalı sütun isimleri oluşturma
column_names = [f"Tür_{code}" for code in mlb.classes_]

# Yeni sütunları DataFrame'e ekleme
one_hot_df = pd.DataFrame(one_hot_encoded, columns=column_names, index=data.index)
data = pd.concat([data, one_hot_df], axis=1)

# 'kodlanmis_tür' sütununu kaldırmak isteyebilirsiniz (isteğe bağlı)
data.drop(columns=['kodlanmis_tür'], inplace=True)

# Sonuçları kaydetme (isteğe bağlı)
data.to_csv("cleaned_movies_dataset.csv", index=False)

print("Güncellenmiş veri seti başarıyla işlendi ve kaydedildi.")

Güncellenmiş veri seti başarıyla işlendi ve kaydedildi.

In [42]:
data.head()

,title,vote_average,vote_count,tür,Tür_0,Tür_1,Tür_2,Tür_3,Tür_4,Tür_5,...,Tür_10,Tür_11,Tür_12,Tür_13,Tür_14,Tür_15,Tür_16,Tür_17,Tür_18,Tür_19
0,Avatar,7.2,11800,"[Action, Adventure, Fantasy, Science Fiction]",0,0,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0
1,Pirates of the Caribbean: At World's End,6.9,4500,"[Adventure, Fantasy, Action]",0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,Spectre,6.3,4466,"[Action, Adventure, Crime]",0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,The Dark Knight Rises,7.6,9106,"[Action, Crime, Drama, Thriller]",0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,John Carter,6.1,2124,"[Action, Adventure, Science Fiction]",0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0